.navbar .logo {
    margin-top: 8px;
    height: 20px;
}

// 左上角设置 logo 把标题隐藏
.navbar .site-name {
    display: none;
}

.theme-default-content code {
    color: #D63200;
    background-color: #F8F8F8;
}
